body {
magin: 0;
padding: 0;
background-image: https://raw.githubusercontent.com/jeanferry20/ferry2d/cadd51091713b24f8c6d52f0d0035ba192a7919f/wolf.jpg;
background-sizer:cover
background-repeat:no repeat
backgroud-position: center
font-family: ariel, sans-serif

